<h1>Listing irregular_verbs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @irregular_verbs.each do |irregular_verb| %>
  <tr>
    <td><%= link_to 'Show', irregular_verb %></td>
    <td><%= link_to 'Edit', edit_irregular_verb_path(irregular_verb) %></td>
    <td><%= link_to 'Destroy', irregular_verb, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Irregular verb', new_irregular_verb_path %>
